@import "tailwindcss";

:root {
  --background: #064368;
  --foreground: #ffffff;
  --primary: #1a237e;
  --primary-light: #534bae;
  --glow-color: rgba(255, 255, 255, 0.35);
  --card-width: 300px;
  --card-width-minus: calc(-1 * var(--card-width));
  --sapphire: #0F52BA;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #064368;
    --foreground: #ffffff;
    --primary: #534bae;
    --primary-light: #7986cb;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  @apply bg-white rounded-lg overflow-hidden flex flex-col cursor-pointer;
  position: relative;
  transition: all 0.35s ease-in-out;
}

.card:hover {
  transform: scale(1.15);
}

.card-media {
  @apply relative bg-white/90;
}

.card-content {
  @apply p-2 flex-1 flex items-center justify-center;
  transition: opacity 0.3s ease-in-out;
}

.card:hover .card-content {
  opacity: 0.9;
}

.card-title {
  color: var(--primary);
  @apply text-center text-lg font-semibold whitespace-pre-line leading-relaxed;
}
